

body {
  background-color: #f2f2f2;
  font-family: 'EB Garamond', serif;
  font-weight: 300;
  font-size: 16px;
  color: #555;

}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  color: #333;
}

p {
  line-height: 28px;
  margin-bottom: 25px;
}

.centered {
  text-align: center;
}

a {
  color: #f85c37;
}

#header {
  background: url(./img/header-bg.jpg) ;
  margin-top: -10px;
  padding-top: 20px;
  text-align: center;
  background-attachment: relative;
  background-position: center center;
  min-height: 700px;
  width: 100%;
  background-size: 100%;

  background-size: cover;
}

#header h1 {
  margin-top: 150px;
  color: white;
  font-size: 70px;
  font-weight: 700;
}

#header h3 {
  color: white;
  font-size: 30px;
  font-weight: 100;
  font-family: 'EB Garamond', serif;
  font-style: oblique;
}

#header .logo {
  text-align: left;
  margin-left: 20px;
  margin-top: 15px;
  height:5px;
  width:5px;
}

#f {
  background: #1a1a1a;
  padding-top: 70px;
  padding-bottom: 70px;
  text-align: center
}

#f h3 {
  color: white;
  font-size: 28px;
  font-weight: 700;
  letter-spacing: 1px;
}

#f p {
  font-size: 20px;
  color: #f2f2f2;
}

#f img {
  text-align: center;
}


.contact-form {
  text-align: left;
}

.contact-form label {
   color: #999;
}

.contact-form input, .contact-form textarea {
  padding: 10px 12px;
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
  height: auto;
}

.contact-form .form-send {
  text-align: center;
}

.contact-form .form-send button  {
  background: #f0ad4e;
  border: 0;
  padding: 10px 30px;
  color: #fff;
}
.h3{
  margin-bottom:44px;
}


